body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
}

.header{
    background-color: red;
    color: white;
    font-weight: 400;
}

li{
    background-color: rgb(12, 228, 244);
}

.press{
    color: white;
}