body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: left;
    background-color: rgba(27, 232, 232, 0.428);
    box-sizing: border-box;
}

/* HOMEPAGE */

.header{
    background-color: rgb(209, 42, 0);
    font-size: 100px;
    margin: 20px auto;
    width: 700px;
    padding: 20px;
    border: solid rgb(255, 255, 38) 10px;
 }

 .header,
 .nav-bar{
    text-align: center;
 }

.nav-bar{
    background-color: rgb(42, 3, 199);
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border: solid black 10px;
    list-style: none;
}


/* RECIPE PAGES */

.header,
.press{
    color: white;
    font-weight: 200;
}

.subs{
    font-size: 40px;
    background-color: rgb(243, 200, 8);
    color: red;
}

.tasty{
    width: auto;
    height: 500px;
}