/* HOMEPAGE */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: left;
    background-color: rgb(250, 126, 182);
}

.header{
    background-color: red;
    font-size: 100px;
    text-align: center;
}

.nav-bar{
    background-color: rgb(34, 5, 149);
    text-align: center;
}


/* RECIPE PAGES */

.header,
.press{
    color: white;
    font-weight: 200;
}

.subs{
    font-size: 40px;
    background-color: rgb(243, 200, 8);
    color: red;
}

.tasty{
    width: auto;
    height: 500px;
}